.appointment-container {
  box-sizing: border-box;
  padding: 16px;
  margin: 10px 0;
  border: 2px solid #b5b7c4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .appointment-container {
    width: 30%;
    margin: 10px;
  }
}
.appointment-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appointment-title {
  font-size: 22px;
  font-weight: 500;
  color: #171f46;
}
.start-button {
  border: none;
  outline: none;
  background-color: #fff;
  margin-top: 8px;
}
/* .start-icon {
} */
.appointment-date {
  color: #b5b7c4;
  font-weight: 500;
}
